<h1><%=@school.name%></h1>
<p>Find me in app/views/school/show.html.erb</p>
<br>
<ul>
    <% @school.students.each do |s| %>
       <li><%=link_to s.name, student_path(s)%> <%=link_to "drop student", destroy_path(s), method: :delete%></li>
    <% end %>
</ul>


