<h1><%=@school.name%></h1>
<p>Find me in app/views/school/show.html.erb</p>
<br>
<ul>
    <%@this_schools_students.each do |s| %>
       <li><%=link_to s.name, student_path(s)%></li>
    <% end %>
</ul>


<form action="" method="POST">
        <input type=hidden method="PATCH">
        <input type="text" name="Test" placeholder="student name"

</form>